.kgVgNB {
  font-size: 16px;
  display: flex;
}

.zCYCx {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.hbxymc {
  position: relative;
  margin: 0px 0.5rem;
}

.hbxymc:first-of-type {
  margin-left: 0px;
}

.hbxymc:first-of-type .sc-bMthRQ {
  padding-left: 0px;
}

.khiCGb {
  background-color: transparent;
  appearance: none;
  padding: 0px;
  border: 0px;
  color: rgb(5, 27, 44);
}

.hbxymc:first-of-type .sc-bMthRQ::after {
  left: 0px;
  width: calc(100% - 0.5rem);
}

.gWioKO {
  color: rgb(116, 128, 139);
  background-color: transparent;
  appearance: none;
  padding: 0px;
  border: 0px;
}

@media (min-width: 48em) {
  .gWioKO {
    padding: 0px 0.5rem;
    min-height: 3.5rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
  }
  .gWioKO::after {
    content: "";
    position: absolute;
    left: 0.5rem;
    bottom: 0px;
    background-color: transparent;
    height: 0.25rem;
    width: calc((100% - 0.5rem) - 0.5rem);
  }
}

@media (min-width: 48em) {
  .khiCGb {
    padding: 0px 0.5rem;
    min-height: 3.5rem;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
  }
  .khiCGb::after {
    content: "";
    position: absolute;
    left: 0.5rem;
    bottom: 0px;
    background-color: transparent;
    height: 0.25rem;
    width: calc((100% - 0.5rem) - 0.5rem);
  }
}

@media (min-width: 48em) {
  .kgVgNB {
    min-height: 3.5rem;
  }
}

.khiCGb::after {
  background-color: rgb(67, 70, 206);
}
