.jfoxNC {
  min-width: 100% !important;
  padding: 0.3125rem 0px;
  margin: 0.25rem 0px 0px;
  font-size: 1rem;
  box-shadow: rgba(5, 27, 44, 0.12) 0px 1px 6px -1px,
    rgba(5, 27, 44, 0.08) 0px 6px 18px -4px;
  border-radius: 0.25rem;
  border: none;
  overflow: auto;
  cursor: default;
  max-height: 95vh;
}

.jfoxNC .active {
  text-decoration: none;
  cursor: pointer;
  color: rgb(5, 27, 44) !important;
  background-color: rgb(236, 236, 252) !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.jSJoFW:hover {
  text-decoration: none;
  cursor: pointer;
  color: rgb(5, 27, 44) !important;
  background-color: rgb(236, 236, 252) !important;
}

.jSJoFW {
  -webkit-box-align: center;
  align-items: center;
  font-size: 1rem;
  display: flex !important;
  padding: 0.5rem 0.75rem !important;
  color: rgb(5, 27, 44) !important;
  line-height: 1.5rem !important;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.cYSewD {
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  width: auto;
  background-color: rgb(255, 255, 255);
  line-height: 1.125rem;
  border: 1px solid rgb(192, 193, 245);
  color: rgb(67, 70, 206) !important;
}

.cWdTgB {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  width: 100%;
}

.cWdTgB > button {
  position: relative;
  flex: 1 1 auto;
}

.kLkPUM {
  min-width: 16px !important;
  width: 16px !important;
  height: 16px !important;
  filter: none;
  color: inherit;
  opacity: 1;
}

.jSJoFW .sc-dkdnUF {
  margin-left: 0.75rem;
}

.jbFgWI {
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  width: auto;
  background-color: rgb(67, 70, 206);
  line-height: 1.125rem;
  border: 1px solid rgb(58, 61, 179);
  box-shadow: rgba(5, 27, 44, 0.16) 0px 1px 1px,
    rgba(255, 255, 255, 0.05) 0px 1px 0px inset;
  color: rgb(255, 255, 255) !important;
}

.eKCYjN {
  height: 1px;
  margin: 0.25rem 0px;
  border-top: 1px solid rgb(229, 232, 235);
}

@media (min-width: 30em) {
  .cWdTgB {
    width: auto;
  }
}
